extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home
		.container
			.row.about
				.col-md-4.p-4
					img.img-fluid(src="./img/logo.png", alt="", srcset="")
				.col-md-8.p-4
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione possimus, impedit repudiandae omnis in laboriosam obcaecati consequatur deleniti fugit nisi, minus ad recusandae voluptas! Molestias mollitia impedit dolor aliquam commodi.
			.row.hoho
					ul
						li
							a(href="#") Home
						li
							a(href="#") Service
						li
							a(href="#") home
			.row.hihi
				.col-md-4.p-4
					.jumbotron
						ul
							li
								a(href="http://") Lá Thư Cuối Cùng (COMING Son)
							li
								a(href="http://")  Cố Nhân
							li
								a(href="http://") Lời Hứa Sau Hè
				.col-md-8.p-4
					.jumbotron.text-center
							h2 Lời Hứa Sau Hè
							p Cành phượng đỏ nỡ rộ cảnh chiều tà.
							p Cô em nhỏ với áo dài thước tha.
							p Chiếc xe đạp chở đầy hoa phượng đỏ.
							p Tiếng ve sầu nặng thương cảnh chiều tà.
							p Mà giờ Cô gái ấy đâu mất rồi
							p Chiếc xe đạp giờ chỉ còn mình tôi.
							p Con đò ngày nào giờ chỉ còn bến.
							p Em theo đò ngan tiến bước sang sông.
							p Còn tôi ngồi đó bao ngày ngó trông.
							p Em còn nhớ hay em đã quên vậy.
							p Lời hẹn ước dưới bụi chuối sau hè.
							p Ta hứa với trăng như tình với bóng.
							p Vây Mà em nỡ bước bỏ theo người.
							p Ôi bao nhiêu năm tình cảm mặn mà.
							p Mà giờ vỏn vẹn thiệp hồng vậy sao.
