<!-- ////////////// HEADER ////////////// -->
header.text-center.p-3
	.container
		.row
			.col-2
				img.img-fluid(src="./img/h1.jpg", alt="", srcset="")
			.col-10
				h1 Thơ Một Thoán mơ Mộng

<!-- ////////////// HEADER ////////////// -->
